
body {
    padding: 0;
    margin: 0;
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
}

/*상단 sns 링크*/
#sns-links {
    width: 1140px;
    padding: 0 0 10px 0;
    font-size: 14px;
    transition: all 0.5s;
    margin: 0 auto;
}

    #sns-links .sns-container {
        text-align: right;
    }

        #sns-links .sns-container a {
            color: #535074;
            padding: 4px 12px;
            display: inline-block;
            line-height: 1px;
        }

            #sns-links .sns-container a:hover {
                color: #1bb1dc;
            }

            #sns-links .sns-container a:first-child {
                border-left: 0;
            }

/*main-bar*/

.text-logo {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

a {
    color: #1bb1dc;
    transition: 0.5s;
    text-decoration: none;
}

    a:hover, a:active, a:focus {
        color: #0a98c0;
        outline: none;
    }

#1header {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 30;
    top: 20px;
    left: 0;
}

#main-bar {
    overflow: hidden;
    width: 1140px;
    margin: 0 auto;
}

#main-logo {
    float: left;
}

#nav {
    float: right;
}

    #nav #container {
        overflow: hidden;
        width: 693px;
    }

        #nav #container a {
            float: left;
            border: none;
            list-style: none;
            width: 99px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            box-sizing: border-box;
        }

/*start css*/

#start {
    width: 100%;
    height: 100vh;
    background: #f5f8fd url("start_img.jpg") center top no-repeat;
    background-size: cover;
}

    #start .container {
        width: 1140px;
        height: 100vh;
        margin: auto;
        position: relative;
    }

    #start .s-container {
        position: absolute;
        top: 33vh;
    }

    #start .start-text {
        color: #413e66;
        margin-bottom: 40px;
        font-size: 48px;
        font-weight: 700;
    }

        #start .start-text span {
            color: #1bb1dc;
        }

    #start .get-started {
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 32px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: #1bb1dc;
    }

/*about us css*/

#about-us {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

    #about-us .container {
        width: 1140px;
        margin: auto;
        position: relative;
    }

    #about-us .a-container {
        overflow: hidden;
    }

    #about-us .about-img {
        position: relative;
        margin: 30px 30px 30px 30px;
    }

        #about-us .about-img img {
            width: 385px;
            height: 562.73px;
            border: 8px solid #fff;
            transition: .5s;
        }

            #about-us .about-img img:hover {
                width: 385px;
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
            }

        #about-us .about-img::before {
            position: absolute;
            left: -31px;
            top: -30px;
            width: 90%;
            height: 92%;
            z-index: -1;
            content: '';
            background-color: #ebf1fa;
            transition: .5s;
        }

        #about-us .about-img::after {
            position: absolute;
            right: -31px;
            bottom: -30px;
            width: 90%;
            height: 92%;
            z-index: -1;
            content: '';
            background-color: #ebf1fa;
            transition: .5s;
        }

    #about-us .about-img-container {
        float: left;
    }

    #about-us .about-content-container {
        width: 635px;
        height: 590px;
        float: right;
        margin-left: 35px;
        padding-top: 40px;
    }

    #about-us .about-content1 {
        font-size: 32px;
        color: #413e66;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
    }

    #about-us .about-content2 {
        font-size: 22px;
        color: #696592;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 30px;
    }

    #about-us .about-content3 {
        font-size: 16px;
        margin-bottom: 30px;
    }

    #about-us .about-content4 {
        font-size: 16px;
        margin-bottom: 30px;
    }

    #about-us .about-content5 {
        font-size: 16px;
    }

    #about-us .about-check-icon {
        padding: 10px;
    }

    #about-us i {
        font-size: 20px;
        padding-right: 4px;
        color: #1bb1dc;
    }

/*service css*/
#services {
    padding: 60px 0 40px 0;
    background: #f5f8fd;
}

    #services .box {
        padding: 30px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin: 0 10px 40px 10px;
        background: #fff;
        box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
        transition: all 0.3s ease-in-out;
        text-align: center;
    }

        #services .box:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

    #services .icon {
        margin: 0 auto 15px auto;
        padding-top: 12px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

        #services .icon i {
            font-size: 36px;
            line-height: 1;
        }

    #services .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
    }

        #services .title a {
            color: #111;
        }

    #services .box:hover .title a {
        color: #1bb1dc;
    }

    #services .description {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 0;
        text-align: left;
    }

.section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}
